.coverage {
    border-collapse: collapse;
}

.coverage th, .coverage tr, .coverage td {
    border: 1px #a9a9a9 solid; 
    padding: 5px 5px;
}

.data {
    text-align: right;
}

/* Just a dash of the Clover Secret Sauce ;) */
.barEmpty {
    font-size: 2px;
    background: #c0c0c0;
    border: #9c9c9c 1px solid;
    height: 12px;
    width: 100%;
}

.barNegative {
    font-size: 2px;
    background: #DF0000;
    border: #9c9c9c 1px solid;
    text-align: left;
    height: 12px;
    width: 100%;
}

.barPositive {
    font-size: 2px;
    background: #00DF00;
    height: 12px;
}

