.coverage {
    border-collapse: collapse;
}

.coverage th, .coverage tr, .coverage td {
    border: 1px #a9a9a9 solid; 
    padding: 5px 5px;
}

.data {
    text-align: right;
}

<!-- Just a dash of the Clover Secret Sauce ;) -->
.barEmpty {
    FONT-SIZE: 2px;
    BACKGROUND: #c0c0c0;
    BORDER: #9c9c9c 1px solid;
    HEIGHT: 12px;
    WIDTH: 100%;
}

.barNegative {
    FONT-SIZE: 2px;
    BACKGROUND: #DF0000;
    BORDER: #9c9c9c 1px solid;
    TEXT-ALIGN: left;
    HEIGHT: 12px;
    WIDTH: 100%;
}

.barPositive {
    FONT-SIZE: 2px;
    BACKGROUND: #00DF00;
    HEIGHT: 12
}

